{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "es6": true,
        "jasmine": true
    },
    "ecmaFeatures": {
        "modules": true
    },
    "globals": {
        "require": true,
        "module": true,
        "process": true
    },
    "rules": {
        "padded-blocks": ["error", "never"],
        "semi": ["error", "always"],
        "quotes": ["error", "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
        "comma-dangle": ["error", "never"],
        "space-before-blocks": ["error", "always"],
        "space-before-function-paren": ["error", "always"],
        "keyword-spacing": [2, {"before": true, "after": true}],
        "arrow-spacing": [2, {"before": true,"after": true}]
    }
}
